
@import url(
'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Sora:wght@600;700;800&display=swap'
);

@import "tailwindcss";


*{
  box-sizing:border-box;
}

html,
body,
#root{
  min-height:100%;
}

body{
  margin:0;

  font-family:
    'Inter',
    sans-serif;

  background:#0f1117;

  color:#f8fafc;
}

.logo-font{
  font-family:
    'Sora',
    sans-serif;
}